<form [formGroup]="info" (ngSubmit)="onSubmit()">
  <table class="grid-container">
    <tr class="row one">
      <label for="fName">First Name: </label>
      <input name="fName" type="text" formControlName="fName" />
    </tr>
    <tr class="row two">
      <label for="lName">Last Name: </label>
      <input name="lName" type="text" formControlName="lName" />
    </tr>
    <tr class="row three">
      <label for="eMail">E-Mail: </label>
      <input name="eMail" type="text" formControlName="eMail" />
    </tr>
    <tr class="row four">
      <input class="btn" type="submit" />
    </tr>
  </table>
</form>
